body { 
    background-color:rgb(247, 235, 216);
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
    color:brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:active {
    color: blue;
}

a:hover {
    color: burlywood;
    background-color: sienna;
}
a:visited {
    color: black;
}

.container {
    width: 90%;
    overflow: auto;
    margin: 10px auto;
    
}
/*Debug Aid: BEGIN */
.bg-cadet {
    background-color: rgb(85, 66, 42);
}

/*Debug Aid: END */

.logo {
    text-align: center;
}

.menu-primer ul {
    background-color: rgb(141, 114, 80) ;
    border-radius: 4px
}

.menu-primer li {
    display: inline-block;
    box-shadow: 
        0 3px 5px -1px rgba (0, 0, 0, 0.2),
        0 6px 10px 0 rgba(0, 0, 0, 0.14),
        0 1px 18px 0 rgba (0, 0, 0, 0.12);
}

.menu-primer li {
    display: inline-block;
}

.menu-primer a {
    text-transform: uppercase;
    display: inline-block;
    padding: 6px 10px;
    letter-spacing: 1px;
}

.menu-primer a:hover {
    background-color: burlywood;
    color: sienna;
}

.menu-primer .active {
    background-color: tan;
    color: sienna;
    cursor: default;
}

.jumbotron {
    background-color: rgba(240, 194, 142, 0.973);
    border: solid 2px brown;
    border-radius: 8px;
    padding: 10px;
}

.jumbotron h2 {
    margin: 4px 20px;
    font-size: 16 px;
}

.jumbotron h3 {
    margin: 4px 20px;
    font-size: 16 px;
}

.copyright p {
    font-size: 14px;
}

/*Footer Box: Begin*/
.container-full {
    background-color: rgb(141, 114, 80) ;
}
.footer-box {
    width: 33.3%;
    float: left;
}
.footer-box ul{
   padding: 0px;
}
.footer-box li {
   padding: 2px 0px;
}
.footer-box img{
    vertical-align: middle;
}

.footer-box {
    text-transform: uppercase;
    letter-spacing: 1px;
}
/*Footer Box: End*/

/*Box : Begin*/
.box2-left {
    width: 49.5%;
    float: left;
}
.box2-right {
    width: 49.5%;
    float: right;
}
.box-heading {
    border: solid 1px brown;
    background-color: rgba(240, 194, 142, 0.973);
    border-radius: 0px 5px;
    padding: 10px 20px;
    margin: 0px;
    text-transform: unset;
}

.box-heading h3 {
    margin: 0px;
}

.box-content {
    border: solid 1px brown;
    border-top: 0;
    margin: 0;
    padding: 10px 0px;
    text-align: justify;
}

.box-fixed {
    height: 160px;
}
/*Box : End*/

.box-content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}